html,
body {
  height: 100%;
}

body {
  margin: 0;
}

@keyframes scroll {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-100%);
  }
}

.scroll-footer {
  animation: scroll 15s linear infinite;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.vertical-timeline-element-content {
  border-radius: 1em !important;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05) !important;
}

.vertical-timeline-element-date {
  color: rgba(11, 18, 32, 0.55) !important;
  font-weight: 600;
}

.vertical-timeline-element-icons {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 20px 0;
}
